# CUDA
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Temporary and large files
tmp/
